* {
    box-sizing:border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width:960px;
    margin: {
        left: auto;
        right: auto;
    }
}

.header {
    color:#ffffff;
    background-color:#607D8B;

    &.orange{
        background-color:#FF5722;
    }
}

.title {
    background-color:#607D8B;
    color:#ffffff;
    text-align:center;
    width:100%;
    padding:20px;
}